
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';
@import 'login';
@import 'userDashboardApp';
@import 'organisationDashboardApp';

body
{
  color: $font-color;
}

.form-control, .form-control:focus
{
  background-color: $input-background;
  border-color: $input-border;
  color: $font-color;
}

.bg-dark
{
  background-color: #222 !important;
}

#projects-container
{
  // grid
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
  grid-row-gap: 20px;
  grid-column-gap: 15px;

  //margin and padding
  padding-top: 20px;
  margin-bottom: 30px;

  .card
  {
    background-color: $card-background;
    border-color: $card-border-color;
  }
}
