
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';
@import 'login';
@import 'userDashboardApp';

body
{
  color: $font-color;
}

.form-control, .form-control:focus
{
  background-color: $input-background;
  border-color: $input-border;
  color: $font-color;
}

.bg-dark
{
  background-color: #222 !important;
}
