
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';
// @import '~bootstrap/scss/bootstrap.scss';

@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

@import 'login';
@import 'userDashboardApp';
@import 'projectDashBoardApp';
