.form-signin
{
  width: 400px;
  margin: auto;

  #email
  {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #password
  {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 15px;
  }
}

@include media-breakpoint-down(sm)
{
  .form-signin
  {
    max-width: 100%;
    padding: 5px;
  }

}
