ul, li{
  list-style-type: none;
}

.just-padding {
  padding: 15px;
}

.node.node-task{
  margin-right: 0px;
}

@mixin one-more-level($level){
  > .list-group {

    padding-left: ($level*15)*1px;
    > .node {
      > .list-group-item {
        padding-left: (($level+1)*15)*1px;
      }
      @if($level >= 8){
        > .list-group {
          padding-left: (($level+1)*15)*1px;
        }
      }@else{
        @include one-more-level($level + 1)
      }
    }
    > .node-task{
      padding-left: (($level+2)*15)*1px;
    }
  }
  > .list-task {
    padding-left: (($level+1)*15)*1px;
  }
}

.list-group.list-group-root > .node{
  .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
  }

  @include one-more-level(1);
}